body {
    font: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    background-color: blue;
}

.placeholder {
    width: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
}

.card-holder {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.one {
    width: 150px;
    height: 150px;
    border: 1px solid blue;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    flex-direction: column;
}

.action {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    
}


.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}
