body {
    font: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.links {
    margin-right: 20%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20%;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.intro {
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
}

.primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    background-color: blue;
    padding: 8px;
    color: white;
}

.placeholder {
    width: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.information {
    display: flex;
    justify-content: center;
}

.card-holder {
    display: flex;
    gap: 8px;
    padding: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

.card {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.card-holder p {
    text-align: center;
}

.one {
    width: 150px;
    height: 150px;
    border: 3px solid blue;
}

.quotation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quote {
    font-size: 45px;
    margin-left: 20%;
    margin-right: 20%;
}

.person {
    font-weight: 900;
    font-size: 25px;
    text-align: right;
    margin-left: 20%;
    margin-right: 20%;
}

.action {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.para-action {
    display: flex;
    flex-direction: column;
}

.action button {
    border: 1px solid white;
    padding: 0;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}

.footer-note {
    margin-top: 40px;
    margin-bottom: 40px;
}